@import 'tailwindcss';

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.loading-container {
	width: 30px;
	height: 30px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.05);
	border-radius: 50%;
}

.loading-spinner {
	width: 30px;
	height: 30px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	border-top: 2px solid #4567b7;
	border-radius: 50%;
	animation: spin 1.3s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
